<!doctype html>
<html ng-app="feedasana">
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/feedasana-angular.js"></script>
    <script src="js/ui-bootstrap.js"></script>
    <script src="https://www.dropbox.com/static/api/1/dropins.js"
        id="dropboxjs" data-app-key="ax7alweaqjr3ynz"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/feedasana.css">
    <link rel="stylesheet" href="css/feeds.css">
  </head>
  <body ng-controller="feedController">
    <div class="main-container">
      <div class="feed-block no-border">
        <div class="buttons">
          <button class="new-feed"
              ng-click="newFeed(); state=feedStates.NEW"
              ng-show="!curFeed">
            Create new feed
          </button>
          <button class="new-feed"
              ng-click="newFeed(); state=feedStates.SUBSCRIBE"
              ng-show="!curFeed">
            Subscribe to new feed
          </button>
        </div>
        <!--Start: form for adding new feed.-->
        <div ng-show="curFeed"
            style="display:none">
          <input class="edit-input" type="text" placeholder="Name of feed" ng-model="curFeed.name">
          <div class="buttons">
            <button class="edit" ng-click="saveOrSubscribeFeed(state);curFeed=undefined">{{state}}</button>
            <button class="cancel" ng-click="curFeed=undefined">Cancel</button>
          </div>
        </div>
        <!--End: form for adding new feed.-->
      </div>
      <div class="feed-block" ng-repeat="(feed_id, feed) in allSubscriptions">
        <div class="feed-name">{{feed.name}}
          <li class="dropdown">
            <span class="dropdown-toggle">
              More
            </span>
            <ul class="dropdown-menu">
              <li>
                <a class="add-task" ng-show="(feed.ownerType >= ownerType.OWNER)"
                  ng-click="newTask(feed)">
                  +task
                </a>
              </li>
              <li>
                <a class="unsubscribe-task" ng-click="unsubscribe(feed)" ng-show="(feed.ownerType+1) % 2">
                  unsubscribe
                </a>
              </li>
            </ul>
          </li>
        </div>
        <div class="feed-tasks">
          <!--Start: form for adding new task.-->
          <div class="feed-task new-task" style="display:none" ng-show="selectedFeed._id==feed_id"
            ng-animate="{show: 'task-show', hide:'task-hide'}">
            <div class="input-section">
              <div class="label-new-task">New Task</div>
              <input class="name" type="text"
                  placeholder="e.g. 8 hours of P90X"
                  ng-model="curTask.name" maxlength="50">
              <div class="date">
                <span class="label-until">Until: </span>
                <input type="text" datepicker-popup="dd-MM-yyyy"
                  ng-model="curTask.dueDate" open="opened"
                  show-weeks="false"
                  datepicker-options="{}"
                  date-disabled="disabled(date, mode)"/>
              </div>
            </div>
            <div class="attachment-section">
              <a type="dropbox-chooser" ng-click="addDropboxAttachment()"/>Select attachment</a>
              <div class="dropbox-links" ng-repeat="attachment in curTask.attachments">
                {{attachment.link}}
              </div>
            </div>
            <div class="button-section">
              <button ng-click="saveTask()">Save</button>
              <button ng-click="newTask()">Cancel</button>
            </div>
          </div>
          <!--End: form for adding new task.-->
          <div class="feed-task" ng-repeat="task in feed.tasks">
            <span class="feed-task-name">
              {{task.name}}
            </span>
            <span class="feed-task-due">
              {{convertDate(task.due_date)}}
            </span>
          </div>
        </div>
      </div>
    </div>
 </body>
</html>
