<!doctype html>
<html ng-app>
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/feedasana-jquery.js"></script>
    <script src="js/feedasana-angular.js"></script>
    <script src="https://www.dropbox.com/static/api/1/dropins.js"
        id="dropboxjs" data-app-key="ax7alweaqjr3ynz"></script>
    <link rel="stylesheet" href="css/feedasana.css">
    <link rel="stylesheet" href="css/feeds.css">
  </head>
  <body ng-controller="feedController">
    <div class="main-container">
      <div class="feed-block no-border">
        <div class="buttons">
          <button class="new-feed"
              ng-click="newFeed(); state=feedStates.NEW"
              ng-show="!curFeed">
            Create new feed
          </button>
          <button class="new-feed"
              ng-click="newFeed(); state=feedStates.SUBSCRIBE"
              ng-show="!curFeed">
            Subscribe to new feed
          </button>
        </div>
        <!--Start: form for adding new feed.-->
        <div ng-show="curFeed"
            style="display:none">
          <input class="edit-input" type="text" placeholder="Name of feed" ng-model="curFeed.name">
          <div class="buttons">
            <button class="edit" ng-click="saveOrSubscribeFeed(state)">{{state}}</button>
            <button class="cancel" ng-click="curFeed=undefined">Cancel</button>
          </div>
        </div>
        <!--End: form for adding new feed.-->
      </div>
      <div class="feed-block" ng-repeat="feed in allSubscriptions">
        <div class="feed-name">{{feed.name}}
          <button ng-show="feed.owner && (!selectedFeed)"
            ng-click="newTask(feed)">+</button>
          <button ng-show="!feed.owner">-</button>
        </div>
        <div class="feed-tasks">
          <!--Start: form for adding new task.-->
          <div class="feed-task new-task" style="display:none" ng-show="selectedFeed==feed"
            ng-animate="{show: 'task-show', hide:'task-hide'}">
            <div class="input-section">
              <div class="label-new-task">New Task</div>
              <input class="name" type="text"
                  placeholder="e.g. 8 hours of P90X"
                  ng-model="curTask.name" maxlength="50">
              <div class="date">
                <span class="label-until">Until: </span>
                <input class="datepicker" placeholder="09/04/2013" type="text" ng-model="curTask.dueDate">
              </div>
            </div>
            <div class="attachment-section">
              <a type="dropbox-chooser" ng-click="addDropboxAttachment()"/>Select attachment</a>
              <div class="dropbox-links" ng-repeat="attachment in curTask.attachments">
                {{attachment.link}}
              </div>
            </div>
            <div class="button-section">
              <button ng-click="saveTask()">Save</button>
              <button ng-click="newTask()">Cancel</button>
            </div>
          </div>
          <!--End: form for adding new task.-->
          <div class="feed-task" ng-repeat="task in feed.tasks">
            <span class="feed-task-name">
              {{task.name}}
            </span> 
            <span class="feed-task-due">
              {{task.due}}
            </span> 
          </div>
        </div>
      </div>
    </div>
 </body>
</html>
