/* This is the main style sheet. */
body {
  font-family: "Source Sans Pro";
  font-size: 17px;
  color: #333333;
  background-color: #dde4ea;
}

button {
  background: #1f8dd6;
  filter: none;
  text-shadow: 0 -1px 0 #003366;
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border: 1px solid #114d97;
  width: 50px;
  height: 25px;
}

button:hover {
  background: #1669a7;
}

input {
  height: 20px;
  padding: 5px;
  font-family: "Source Sans Pro";
  font-size: 16px;
}

