/* CSS for a feed block. */
.feed-block {
  border: 1px solid #9cacbc;
  width: 500px;
  margin: 40px auto;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
}

.feed-name, .feed-task {
  padding: 10px;
}

.feed-name {
  font-weight: lighter;
  font-size: 27px;
}

.feed-tasks {
  color: #1f8dd6;

}

.feed-task {
  border-top: 1px solid #e5e5e5;

}

.feed-task-due {
  float: right;
  font-weight: lighter;
  font-size: 14px;
}

/* Fading in and out. */
.task-show-setup, .task-hide-setup {
  -webkit-transition:all linear 0.2s;
  -moz-transition:all linear 0.2s;
  -ms-transition:all linear 0.2s;
  -o-transition:all linear 0.2s;
  transition:all linear 0.2s;
}

.task-show-setup {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

.task-show-start.task-show-start {
  line-height:20px;
  opacity:1;
  padding:10px;
  background:white;
}

.task-hide-setup {
  line-height:50px;
  opacity:1;
  padding:10px;
}

.task-hide-start.task-hide-start {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

/* New task style. */
.new-task .label-new-task,
.new-task .label-until {
  font-size: 17px;
}

.new-task .label-new-task {
  padding-bottom: 10px;
}

.new-task .label-until {
  font-size: 12px;
}

.new-task .name {
  width: 300px;
}

.new-task .date {
  float: right;
}

.new-task .datepicker {
  width: 100px;
}

.new-task .attachment-section,
.new-task .button-section {
  padding-top: 20px;
}

.new-task .attachment-section a {
  cursor: pointer;
}

.new-task .attachment-section a:hover {
  color: #156193;
  cursor: pointer;
  text-decoration: underline;
}

.new-task .dropbox-links {
  font-size: 12px;
  color: #333333;
}

.buttons {
  width: 450px;
  margin: 10px auto;
}

.buttons button {
  width: 200px;
  height: 50px;
  margin: 10px;
}

.edit-input {
  display: block;
  width: 300px;
  margin: 10px auto;
}

.no-border {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: transparent;
}

.no-border button {
  -webkit-box-shadow:0px 2px 4px rgba(0,0,0,0.2);
  box-shadow:0px 2px 4px rgba(0,0,0,0.2);
}
