<!doctype html>
<html ng-app>
  <head>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/feedasana.js"></script>
    <link rel="stylesheet" href="css/feedasana.css">
  </head>
  <body ng-controller="feedController">
    <div ng-repeat="feed in allSubscriptions">
      <div>{{feed.name}}</div>
      <ul>
        <li ng-repeat="task in feed.tasks">
          <div>
            {{task.name}}
          </div> 
          <div>
            {{task.due}}
          </div> 
        </li>
      </ul>
    </div>
  </body>
</html>
